@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --blue: #0077b5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  margin: 2rem;
  max-width: 100vw;
}

hr {
  background: var(--blue);
  border: 1px solid var(--blue);
  margin: 2rem 0;
}

.container {
  background-color: lightblue;
  border-radius: 1rem;
  padding: 2rem;
}

#myId,
.jobId {
  background: var(--blue);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.jobId {
  background: black;
}

#personal-photo {
  border-radius: 100%;
  margin-bottom: 0.75rem;
}

#name,
.experience-company {
  font-size: 2rem;
  font-weight: bold;
}

.experience-company {
  font-size: 1.25rem;
}
